@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
    margin: 32px 115px 36px;
    justify-content: space-between;
    box-sizing: border-box;
  }
}
